body {
    font-family: "Open Sans", "Roboto", sans-serif, "Times New Roman", "Courier New";
    margin: 0px;
    /* Used to separate the different sections */
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

/* CSS for Section #1 */
.section-one {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
}

.section-one-content {
    max-width: 1200px;
    margin: 0px 70px;
}

.header {
    display: flex;
    align-items: center;
    margin: 20px 0px;
}

.header-text {
    font-size: 24px;
    font-weight: 900;
    color: #F9FAF8;
}

.header-links {
    list-style: none;
    margin: 0px;
    margin-left: auto;
    padding: 0px;
    display: flex;
    gap: 16px;
    font-size: 18px;
    color: #E5E7EB;
}

.header-content {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    padding: 120px 0px;
}

.header-left-content{
    font-size: 18px;
    color: #E5E7EB;
    flex-basis: 450px;
}

.header-left-main-text {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.sign-up-button {
    background-color: #3992F6;
    font-size: 16px;
    font-weight: 900;
    color: #F9FAF8;
    margin-top: 5px;
    border: 0px;
    border-radius: 7px;
    padding: 7px 32px;
}

.sign-up-button:hover {
    background-color: #225296;
}

.sign-up-button:active {
    background-color: #0e4188;
}

.header-right-placeholder-image {
    width: 522px;
    height: 237px;
}

/* CSS for Section #2 */
.section-two {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-two-information-heading {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    margin: 60px 0px;
}

.section-two-content {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 0px 70px;
    gap: 100px;
    margin-bottom: 120px;
}

.section-two-image-placeholder{
    width: 175px;
    height: 175px;
    border: 4px;
    border-style: solid;
    border-color: #3992F6;
    border-radius: 10px;
    margin-bottom: 10px;
}

.section-two-image-caption{
    width: 175px;
    text-align: center;
    color: #737c86;
}

/* CSS for Section #3 */
.section-three {
    background-color: #e5e7eb;
    display: flex;
    justify-content: center;
}

.section-three-content {
    max-width: 830px;
    margin: 140px 70px;
    color: #1F2937;
}

.section-three-quote {
    font-size: 36px;
    /* lighter font weight doesn't seem to be working */
    font-weight: lighter;
    font-style: italic;
}

.section-three-quote-author {
    font-size: 28px;
    font-weight: bold;
    text-align: right;
}

/* CSS for Section #4 */
.section-four {
    background-color: white;
    padding: 120px 0px;
    display: flex;
    justify-content: center;
}

.section-four-content {
    flex-grow: 1;

    max-width: 1200px;
    margin: 0px 70px;
    padding: 65px 0px;
    background-color: #3992F6;
    border-radius: 10px;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
}

.section-four-content-text {
    margin-left: 24px;
    font-size: 20px;
    color: #E5E7EB;
}

.section-four-content-title {
    font-size: 28px;
    font-weight: 1000;
}

.section-four .sign-up-button {
    margin: 0px;
    margin-right: 20px;
    border: 2px solid white;
}

/* CSS for Section #5 */
.section-five {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    padding: 50px 0px;
    font-size: 18px;
    color: #E5E7EB;
}